<link rel="stylesheet" href="/css/profile.css">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<title>Agro-Point</title>
<link rel="stylesheet" href="/css/register_style.css">
<style>
    body {
      height: 850px;
    }
    .card{
      margin-bottom: 0;
    }
  </style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/api/user">
      <img src="/images/new_logo.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
      Agro-Point
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item " style="text-align:center; ">
    <a class="nav-link" id="profile" href="/api/profile" style="color:#20ff00cf;">Namasthe <%=userName%> !</a>
        </li>
    <li class="nav-item"style="text-align:center">
    <a class="nav-link" href="/api/logout" style="color:#20ff00cf">Logout</a>
    </li>
    </ul>
      </div>
      
  </nav>
<!--   
<div id="profile">
    <h3>Update Profile</h3>
    <form method="post" action="/api/profile">
        <% error.forEach((item) => { %>
          <h5 style="color: red"><%= item %></h5>
          <% });%>
        <p><input type="text" name="name" placeholder="Name" value="<%= profile.name %>" required></p>
        
        <p><input type="password" name="oldPassword" placeholder="Enter Previous Password" required></p>
        <p><input type="password" name="newPassword1" placeholder="New Password" required></p>
        <p><input type="password" name="newPassword2" placeholder="Confirm New Password" required></p>

        <p class="submit"><input type="submit" name="submit" value="Update" required></p>
      </form>
</div> -->




<section class="container">
    <div class="container-fluid px-1 py-5 mx-auto">
      <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
          <h3>Update Profile</h3>
          <% error.forEach((item)=> { %>
            <h5 style="color: red">
              <%= item %>
            </h5>
            <% });%>
              <div class="card">
                <form method="post" action="/api/profile"">
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Name<span
                          class="text-danger"> *</span></label> <input type="text" name="name" placeholder="Name" value="<%= profile.name %>" required> </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Current Password<span class="text-danger"> *</span></label> <input type="password" name="oldPassword" placeholder="Enter Previous Password" required>
                    </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label
                        class="form-control-label px-3">New Password<span class="text-danger"> *</span></label> <input type="password" name="newPassword1" placeholder="New Password" required>
                    </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group col-sm-12 flex-column d-flex"> <label
                        class="form-control-label px-3">Confirm Password<span class="text-danger"> *</span></label><input type="password" name="newPassword2" placeholder="Confirm New Password" required></div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="form-group col-sm-4"><button class="submit btn-block btn-success" type="submit"
                        name="submit" value="Update" required> Update</button> </div>
                </form>
                
              </div>
        </div>
  
      </div>
    </div>